<!DOCTYPE html>
<html>
  <head>
    <title>Hound.Helpers.Page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" charset="utf-8" />

    <script type="text/javascript" charset="utf-8">
      relpath = '';
      if (relpath != '') relpath += '/';
    </script>

    <script type="text/javascript" charset="utf-8" src="js/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/app.js"></script>
  </head>

  <body>
    <script type="text/javascript" charset="utf-8">
      if (window.top.frames.main) document.body.className = 'frames';
    </script>

    <div id="content">
      <div class="breadcrumbs">hound v0.5.8 &rarr; <a href="overview.html">Overview</a> &rarr; <a href="Hound.html">Hound</a> &rarr; Helpers &rarr; <a href="Hound.Helpers.Page.html">Page</a></div>

      <h1>
        Hound.Helpers.Page
        
      </h1>

      <ul class="summary_links">
        
          <li><a href="#summary">Summary</a></li>
        
        
          <li><a href="#functions_details">Functions</a></li>
        
        
          <li><a href="#macros_details">Macros</a></li>
        
        
        
      </ul>

      

      

      
        <h2 id="summary">Summary<div class="detail_header_links"><a class="to_top_link" href="#content" title="To the top of the page">&uarr;</a></div></h2>
        <table class="summary">
          <tr>
  <td class="summary_signature"><a href="#element_in_focus/0">element_in_focus()</a></td>
  
    <td class="summary_synopsis"><p>Gets element on page that is currently in focus</p>
</td>
  
</tr>
<tr>
  <td class="summary_signature"><a href="#find_all_elements/3">find_all_elements(strategy, selector, retries \\ 5)</a></td>
  
    <td class="summary_synopsis"><p>Finds elements on current page. Returns an array of element IDs that can be used with other element functions</p>
</td>
  
</tr>
<tr>
  <td class="summary_signature"><a href="#find_all_within_element/4">find_all_within_element(element_id, strategy, selector, retries \\ 5)</a></td>
  
    <td class="summary_synopsis"><p>Finds elements within a specific element. Returns an array of element IDs that can be used with other element functions</p>
</td>
  
</tr>
<tr>
  <td class="summary_signature"><a href="#find_element/3">find_element(strategy, selector, retries \\ 5)</a></td>
  
    <td class="summary_synopsis"><p>Finds element on current page. It returns an element ID that can be used with other element functions</p>
</td>
  
</tr>
<tr>
  <td class="summary_signature"><a href="#find_within_element/4">find_within_element(element_id, strategy, selector, retries \\ 5)</a></td>
  
    <td class="summary_synopsis"><p>Finds element within a specific element. Returns an element ID to use with element helper functions</p>
</td>
  
</tr>
<tr>
  <td class="summary_signature"><a href="#page_source/0">page_source()</a></td>
  
    <td class="summary_synopsis"><p>Gets the HTML source of current page</p>
</td>
  
</tr>
<tr>
  <td class="summary_signature"><a href="#page_title/0">page_title()</a></td>
  
    <td class="summary_synopsis"><p>Gets the title of the current page</p>
</td>
  
</tr>
<tr>
  <td class="summary_signature"><a href="#send_keys/1">send_keys(keys)</a></td>
  
    <td class="summary_synopsis"><p>Send sequence of key strokes to active element.
The keys are accepted as a list of atoms</p>
</td>
  
</tr>
<tr>
  <td class="summary_signature"><a href="#send_text/1">send_text(keys)</a></td>
  
    <td class="summary_synopsis"><p>Send character keys to active element</p>
</td>
  
</tr>
<tr>
  <td class="summary_signature"><a href="#with_keys/2">with_keys(keys, blocks)</a></td>
  
    <td class="summary_synopsis"><p>Holds on to the spcified modifier keys when the block is executing</p>
</td>
  
</tr>

        </table>
      

      

      
        <div id="functions_details" class="details_list">
          <h2>Functions</h2>
          <div class="detail">
  <div class="detail_header" id="element_in_focus/0">
    <span class="signature"><strong>element_in_focus()</strong></span>
    <div class="detail_header_links">
      <span class="detail_type">(function)</span>
      <a href="#element_in_focus/0" class="detail_link" title="Link to this function">#</a>
      <a class="to_top_link" href="#content" title="To the top of the page">&uarr;</a>
    </div>
  </div>
  
    <p>Specs:</p>
    <ul class="spec">
      
        <li>element_in_focus :: <a href="http://elixir-lang.org/docs/stable/elixir/Dict.html#t:t/0">Dict.t</a></li>
      
    </ul>
  
  <div class="docstring"><p>Gets element on page that is currently in focus.</p>
</div>
  
</div>
<div class="detail">
  <div class="detail_header" id="find_all_elements/3">
    <span class="signature"><strong>find_all_elements(strategy, selector, retries \\ 5)</strong></span>
    <div class="detail_header_links">
      <span class="detail_type">(function)</span>
      <a href="#find_all_elements/3" class="detail_link" title="Link to this function">#</a>
      <a class="to_top_link" href="#content" title="To the top of the page">&uarr;</a>
    </div>
  </div>
  
    <p>Specs:</p>
    <ul class="spec">
      
        <li>find_all_elements(atom, <a href="http://elixir-lang.org/docs/stable/elixir/String.html#t:t/0">String.t</a>, <a href="http://elixir-lang.org/docs/stable/elixir/Integer.html#t:t/0">Integer.t</a>) :: <a href="http://elixir-lang.org/docs/stable/elixir/List.html#t:t/0">List.t</a></li>
      
    </ul>
  
  <div class="docstring"><p>Finds elements on current page. Returns an array of element IDs that can be used with other element functions.</p>
<ul>
<li>The first argument is the strategy.
</li>
<li>The second argument is the selector.
</li>
</ul>
<p>Valid selector strategies are <code class="inline">:css</code>, <code class="inline">:class</code>, <code class="inline">:id</code>, <code class="inline">:name</code>, <code class="inline">:tag</code>, <code class="inline">:xpath</code>, <code class="inline">:link_text</code> and <code class="inline">:partial_link_text</code></p>
<pre><code>
find_elements(:name, &quot;username&quot;)
find_elements(:class, &quot;example&quot;)
find_elements(:id, &quot;example&quot;)
find_elements(:css, &quot;.example&quot;)
find_elements(:tag, &quot;footer&quot;)
find_elements(:link_text, &quot;Home&quot;)


</code></pre>
</div>
  
</div>
<div class="detail">
  <div class="detail_header" id="find_all_within_element/4">
    <span class="signature"><strong>find_all_within_element(element_id, strategy, selector, retries \\ 5)</strong></span>
    <div class="detail_header_links">
      <span class="detail_type">(function)</span>
      <a href="#find_all_within_element/4" class="detail_link" title="Link to this function">#</a>
      <a class="to_top_link" href="#content" title="To the top of the page">&uarr;</a>
    </div>
  </div>
  
    <p>Specs:</p>
    <ul class="spec">
      
        <li>find_all_within_element(<a href="http://elixir-lang.org/docs/stable/elixir/String.html#t:t/0">String.t</a>, atom, <a href="http://elixir-lang.org/docs/stable/elixir/String.html#t:t/0">String.t</a>, <a href="http://elixir-lang.org/docs/stable/elixir/Integer.html#t:t/0">Integer.t</a>) :: <a href="http://elixir-lang.org/docs/stable/elixir/List.html#t:t/0">List.t</a></li>
      
    </ul>
  
  <div class="docstring"><p>Finds elements within a specific element. Returns an array of element IDs that can be used with other element functions.</p>
<ul>
<li>The first argument is the element ID of the element within which you want to search.
</li>
<li>The second argument is the strategy.
</li>
<li>The third argument is the selector.
</li>
</ul>
<p>Valid selector strategies are <code class="inline">:css</code>, <code class="inline">:class</code>, <code class="inline">:id</code>, <code class="inline">:name</code>, <code class="inline">:tag</code>, <code class="inline">:xpath</code>, <code class="inline">:link_text</code> and <code class="inline">:partial_link_text</code></p>
<pre><code>
# First get an element ID to search within
parent_element_id = find_element(:class, &quot;container&quot;)

find_all_within_element(parent_element_id, :name, &quot;username&quot;)
find_all_within_element(parent_element_id, :class, &quot;example&quot;)
find_all_within_element(parent_element_id, :id, &quot;example&quot;)
find_all_within_element(parent_element_id, :css, &quot;.example&quot;)
find_all_within_element(parent_element_id, :tag, &quot;footer&quot;)
find_all_within_element(parent_element_id, :link_text, &quot;Home&quot;)


</code></pre>
</div>
  
</div>
<div class="detail">
  <div class="detail_header" id="find_element/3">
    <span class="signature"><strong>find_element(strategy, selector, retries \\ 5)</strong></span>
    <div class="detail_header_links">
      <span class="detail_type">(function)</span>
      <a href="#find_element/3" class="detail_link" title="Link to this function">#</a>
      <a class="to_top_link" href="#content" title="To the top of the page">&uarr;</a>
    </div>
  </div>
  
    <p>Specs:</p>
    <ul class="spec">
      
        <li>find_element(<a href="http://elixir-lang.org/docs/stable/elixir/String.html#t:t/0">String.t</a>, <a href="http://elixir-lang.org/docs/stable/elixir/String.html#t:t/0">String.t</a>, <a href="http://elixir-lang.org/docs/stable/elixir/Integer.html#t:t/0">Integer.t</a>) :: <a href="http://elixir-lang.org/docs/stable/elixir/Dict.html#t:t/0">Dict.t</a></li>
      
    </ul>
  
  <div class="docstring"><p>Finds element on current page. It returns an element ID that can be used with other element functions.</p>
<ul>
<li>The first argument is the strategy.
</li>
<li>The second argument is the selector.
</li>
</ul>
<p>Valid selector strategies are <code class="inline">:css</code>, <code class="inline">:class</code>, <code class="inline">:id</code>, <code class="inline">:name</code>, <code class="inline">:tag</code>, <code class="inline">:xpath</code>, <code class="inline">:link_text</code> and <code class="inline">:partial_link_text</code></p>
<pre><code>
find_element(:name, &quot;username&quot;)
find_element(:class, &quot;example&quot;)
find_element(:id, &quot;example&quot;)
find_element(:css, &quot;.example&quot;)
find_element(:tag, &quot;footer&quot;)
find_element(:link_text, &quot;Home&quot;)


</code></pre>
</div>
  
</div>
<div class="detail">
  <div class="detail_header" id="find_within_element/4">
    <span class="signature"><strong>find_within_element(element_id, strategy, selector, retries \\ 5)</strong></span>
    <div class="detail_header_links">
      <span class="detail_type">(function)</span>
      <a href="#find_within_element/4" class="detail_link" title="Link to this function">#</a>
      <a class="to_top_link" href="#content" title="To the top of the page">&uarr;</a>
    </div>
  </div>
  
    <p>Specs:</p>
    <ul class="spec">
      
        <li>find_within_element(<a href="http://elixir-lang.org/docs/stable/elixir/String.html#t:t/0">String.t</a>, atom, <a href="http://elixir-lang.org/docs/stable/elixir/String.html#t:t/0">String.t</a>, <a href="http://elixir-lang.org/docs/stable/elixir/Integer.html#t:t/0">Integer.t</a>) :: <a href="http://elixir-lang.org/docs/stable/elixir/Dict.html#t:t/0">Dict.t</a></li>
      
    </ul>
  
  <div class="docstring"><p>Finds element within a specific element. Returns an element ID to use with element helper functions.</p>
<ul>
<li>The first argument is the element ID of the element within which you want to search.
</li>
<li>The second argument is the strategy.
</li>
<li>The third argument is the selector.
</li>
</ul>
<p>Valid selector strategies are <code class="inline">:css</code>, <code class="inline">:class</code>, <code class="inline">:id</code>, <code class="inline">:name</code>, <code class="inline">:tag</code>, <code class="inline">:xpath</code>, <code class="inline">:link_text</code> and <code class="inline">:partial_link_text</code></p>
<pre><code>
# First get an element ID to search within
parent_element_id = find_element(:class, &quot;container&quot;)

find_within_element(parent_element_id, :name, &quot;username&quot;)
find_within_element(parent_element_id, :class, &quot;example&quot;)
find_within_element(parent_element_id, :id, &quot;example&quot;)
find_within_element(parent_element_id, :css, &quot;.example&quot;)
find_within_element(parent_element_id, :tag, &quot;footer&quot;)
find_within_element(parent_element_id, :link_text, &quot;Home&quot;)


</code></pre>
</div>
  
</div>
<div class="detail">
  <div class="detail_header" id="page_source/0">
    <span class="signature"><strong>page_source()</strong></span>
    <div class="detail_header_links">
      <span class="detail_type">(function)</span>
      <a href="#page_source/0" class="detail_link" title="Link to this function">#</a>
      <a class="to_top_link" href="#content" title="To the top of the page">&uarr;</a>
    </div>
  </div>
  
    <p>Specs:</p>
    <ul class="spec">
      
        <li>page_source :: <a href="http://elixir-lang.org/docs/stable/elixir/String.html#t:t/0">String.t</a></li>
      
    </ul>
  
  <div class="docstring"><p>Gets the HTML source of current page.</p>
</div>
  
</div>
<div class="detail">
  <div class="detail_header" id="page_title/0">
    <span class="signature"><strong>page_title()</strong></span>
    <div class="detail_header_links">
      <span class="detail_type">(function)</span>
      <a href="#page_title/0" class="detail_link" title="Link to this function">#</a>
      <a class="to_top_link" href="#content" title="To the top of the page">&uarr;</a>
    </div>
  </div>
  
    <p>Specs:</p>
    <ul class="spec">
      
        <li>page_title :: <a href="http://elixir-lang.org/docs/stable/elixir/String.html#t:t/0">String.t</a></li>
      
    </ul>
  
  <div class="docstring"><p>Gets the title of the current page.</p>
</div>
  
</div>
<div class="detail">
  <div class="detail_header" id="send_keys/1">
    <span class="signature"><strong>send_keys(keys)</strong></span>
    <div class="detail_header_links">
      <span class="detail_type">(function)</span>
      <a href="#send_keys/1" class="detail_link" title="Link to this function">#</a>
      <a class="to_top_link" href="#content" title="To the top of the page">&uarr;</a>
    </div>
  </div>
  
    <p>Specs:</p>
    <ul class="spec">
      
        <li>send_keys(<a href="http://elixir-lang.org/docs/stable/elixir/List.html#t:t/0">List.t</a> | atom) :: :ok</li>
      
    </ul>
  
  <div class="docstring"><p>Send sequence of key strokes to active element.
The keys are accepted as a list of atoms.</p>
<pre><code>
send_keys :backspace
send_keys :tab

</code></pre>
<p>If you send the modifier keys shift, control, alt and command,
they are held on and not released until you send the <code class="inline">:null</code> key.</p>
<p>To perform other actions while holding on to modifier keys, use the <code class="inline">with_keys</code> macro.</p>
<p>The following are the atoms representing the keys:</p>
<ul>
<li>:alt - alt key
</li>
<li>:shift - shift key
</li>
<li>:command - command key (or meta key)
</li>
<li>:control - control key
</li>
<li>:escape - escape key
</li>
<li>:backspace - backspace key
</li>
<li>:tab - tab key
</li>
<li>:clear - clear
</li>
<li>:return - return key
</li>
<li>:enter - enter key
</li>
<li>:cancel - cancel key
</li>
<li>:help - help key
</li>
<li>:pause - pause key
</li>
<li>:num0 - numpad 0
</li>
<li>:num1 - numpad 1
</li>
<li>:num2 - numpad 2
</li>
<li>:num3 - numpad 3
</li>
<li>:num4 - numpad 4
</li>
<li>:num5 - numpad 5
</li>
<li>:num6 - numpad 6
</li>
<li>:num7 - numpad 7
</li>
<li>:num8 - numpad 8
</li>
<li>:num9 - numpad 9
</li>
<li>:add - add key
</li>
<li>:subtract - subtract key
</li>
<li>:multiply - multiply key
</li>
<li>:divide - divide key
</li>
<li>:seperator - seperator key
</li>
</ul>
</div>
  
</div>
<div class="detail">
  <div class="detail_header" id="send_text/1">
    <span class="signature"><strong>send_text(keys)</strong></span>
    <div class="detail_header_links">
      <span class="detail_type">(function)</span>
      <a href="#send_text/1" class="detail_link" title="Link to this function">#</a>
      <a class="to_top_link" href="#content" title="To the top of the page">&uarr;</a>
    </div>
  </div>
  
    <p>Specs:</p>
    <ul class="spec">
      
        <li>send_text(<a href="http://elixir-lang.org/docs/stable/elixir/String.html#t:t/0">String.t</a>) :: :ok</li>
      
    </ul>
  
  <div class="docstring"><p>Send character keys to active element.</p>
<pre><code>
send_text &quot;test&quot;
send_text &quot;whatever happens&quot;

</code></pre>
<p>To send key strokes like tab, enter, etc, take a look at <code class="inline">send_keys</code>.</p>
</div>
  
</div>

        </div>
      

      
        <div id="macros_details" class="details_list">
          <h2>Macros</h2>
          <div class="detail">
  <div class="detail_header" id="with_keys/2">
    <span class="signature"><strong>with_keys(keys, blocks)</strong></span>
    <div class="detail_header_links">
      <span class="detail_type">(macro)</span>
      <a href="#with_keys/2" class="detail_link" title="Link to this macro">#</a>
      <a class="to_top_link" href="#content" title="To the top of the page">&uarr;</a>
    </div>
  </div>
  
  <div class="docstring"><p>Holds on to the spcified modifier keys when the block is executing.</p>
<pre><code>
# Simulates Ctrl + e
with_keys :control do
  send_text &quot;e&quot;
end

# Simulates Ctrl + Shift + e
with_keys [:control, :shift] do
  send_text &quot;e&quot;
end

</code></pre>
<p>The following are the modifier keys:</p>
<ul>
<li>:alt - alt key
</li>
<li>:shift - shift key
</li>
<li>:command - command key (or meta key)
</li>
<li>:control - control key
</li>
<li>:escape - escape key
</li>
</ul>
</div>
  
</div>

        </div>
      

      
    </div>
  </body>
</html>
